.todo-item {
    background-color: rgb(63, 105, 127);
    color:rgb(179, 190, 201);
    border-radius: 15%;
    max-width: fit-content;
    margin: 1rem;
    padding: .5rem;
}

.todo-item.completed {
    background-color: rgb(77, 77, 77);
    color:rgb(181, 181, 181)
}